.form-container {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #65a3f1;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


.form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}


.form-container input[type="text"],
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
}
.form-container input[type="text"]:focus,
.form-container select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button{
    background-color: #fff;
}